package pages

templ Home() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Shrink It</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<script src="dist/htmx.min.js" type="text/javascript"></script>
			<link href="css/style.css" rel="stylesheet"/>
		</head>
		<body>
			<h1 class="text-red-500">Shrink It</h1>
		</body>
	</html>
}
